body{
    font-family: times new roman;
}
.bgAlpha{
    background-color: rgba(0,0,0,0);
    
    
}
#sidebar-wrapper {
  min-height: 100vh;
    margin-left: -15rem;}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 4.25rem;
    padding-top: 3rem;
}
.sidebar-heading{
    font-size: 1.3rem;
    font-weight: bold;
}



#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 80%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.elementoMenu{
    font-size: 1.2rem;
    padding-top: -0.1rem ;
    padding-right:4.4rem ;

    text-align: right;
}
.homeimage{
    width: 50rem;
        padding-top: 3rem ;
    
}